@import 'tailwindcss';

@theme {
  @keyframes shine {
    0% { background-position: 200% 0; }
    25% { background-position: -200% 0; }
    100% { background-position: -200% 0; }
  }

  @keyframes gradientFlow {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
  }

  .animate-shine {
    animation: shine 3s ease-out infinite;
  }

  .animate-gradient-flow {
    animation: gradientFlow 10s ease infinite;
  }
}
